.Question_title {
  font-family: "Baloo 2", cursive;
  color: #3e3e3e;
  font-size: 50px;
}

.Question_title_home {
  font-family: "Baloo 2", cursive;
  color: #3e3e3e;
  font-size: 15px;
  line-height: 1;
  padding: 50px 200px 0;
}

.Question_center_content {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  width: 80%;
}

.Question_button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30%;
  margin: 50px auto 0;
  width: 47%;
  max-width: 1300px;
}
