body {
  background-color: #f1f0f0;
  height: 100vh;
}

a {
  text-decoration: none;
}

.choice-test-title-home {
  font-family: "Baloo 2", cursive;
  color: #3e3e3e;
  font-size: 15px;
  line-height: 1;
  padding: 50px 200px 0;
}

.choice-test-title {
  font-family: "Baloo 2", cursive;
  color: #3e3e3e;
  font-size: 70px;
  line-height: 1;
  text-align: center;
  padding-top: 130px;
}

.choice-test-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1300px;
  margin: 90px auto 0;
}

.choice-test {
  display: flex;
}

.choice-test-culture {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.choice-test-culture-web {
  font-family: "Baloo 2", cursive;
  color: #3e3e3e;
  font-size: 60px;
}
